.container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b6, #6b4cf5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
    color: white;
    -webkit-box-align: 10px 10px 5px 0px rgba(0, 0, 0,0,45);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0,45);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0,45);
}

form {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "sans-serif";
}

h2 {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}